body {
  background-color: #263238;
  color: black;
}


.mynav {
  width: 100%;
  padding: 15px 22px;
  background-color: #3f51b5;
  box-shadow: 0px 2px 15px 0 #000;
}

.custom-container {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 550px;
  box-shadow: 0 0 18px 0px #000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.first-period {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.last-period {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

.free {
  background-color: #757de8;
}

.class {
  background-color: #3f51b5;
}

.break {
  background-color: #757de8;
}

.period {
  height: 120px;
}

.middle {
  padding: 0;
  margin: 0;
  font-size: 22px;
  /* height: 100%; */
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
center {
  height: 100%;
}

.time {
  color: #c5cae9;
  font-size: 15px;
  padding: 2px 8px;
  position: absolute;
  background-color: #757de8;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  /* height: 0; */
}

.btn-warning {
  background-color: #ffc107;
}

.btn-warning:hover {
  background-color: #ffb300;

}


.btn-left {
  float: left;
  padding: 10px 30px;
}
.btn-right {
  float: right;
  padding: 10px 30px;
}

.custom-nav-container {
  max-width: 550px;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}


.day {
  padding: 10px 30px;
  margin: 0;
  left: 50%;
  color: #c5cae9;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
}
